* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  background-color: black;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 100px;
  padding: 30px 100px;
  z-index: 2;
}

.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header .nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 6px;
}

.header .nav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.header .nav span {
  color: orangered;
}

.header .logo {
  font-size: 30px;
  font-weight: 700;
  color: orangered;
}

/*seccionOne*/

.sectionOne {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(https://imgs.search.brave.com/mYuTGbHZNNY5hUo1G5plvIUuLlEYYyZ8tcWgHf11W_M/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvNGst/dWx0cmEtaGQtbGFu/ZHNjYXBlLXdhbGxw/YXBlci13dGd6cmx4/dDUyeWhoOW4yLmpw/Zw);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.sectionOne .blur {
  width: 50%;
  height: 90vh;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 10px;
  color: aliceblue;
  backdrop-filter: blur(7px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.05);
}

/* section 2*/

.sectionTwo {
  width: 100%;
  height: 90vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sectionTwo .cards{

}

.sectionTwo .cards .card {
    width: 300px;
    height: 490px;
    background-color: azure;
    border: 1px black ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    gap: 10px;
}

.sectionTwo .cards .card img{
    border-radius: 10px 10px 0 0;
}


